.square-slot {
  border: 1px black solid;
}

.grid {
  display: grid;
}

.state-unknown {
  background-color: white;
}

.state-seen {
  background-color: rgb(133, 231, 255);
}

.state-path {
  background-color: rgba(253, 255, 111, 0.897);
}

.state-processed {
  background-color: rgb(127, 255, 110);
}

.state-obstacle {
  background-color: black;
  color: #fff;
}
