.square-slot {
  border: 1px black solid;
}

.grid {
  display: grid;
}

.state-unknown {
  background-color: white;
  color: black;
}

.state-seen {
  background-color: rgb(133, 231, 255);
  color: black;
}

.state-path {
  background-color: rgba(253, 255, 111, 0.897);
  color: black;
}

.state-processed {
  background-color: rgb(127, 255, 110);
  color: black;
}

.state-obstacle {
  background-color: black;
  color: #fff;
}

.source-type {
  background-color: blueviolet;
  color: #fff;
}
.target-type {
  background-color: rgb(231, 56, 94);
  color: #fff;
}
